<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title> Level Dashboard </title>
        <!-- EXTERENAL LIBRARY -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400&family=Tajawal:wght@200;300;400&display=swap" rel="stylesheet"><link
        rel="stylesheet"
        href="https://fonts.google.com/specimen/Alkalami?preview.text=%D9%85%D9%87%D8%A7%D9%85%D9%8A&preview.text_type=custom&subset=arabic"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <!-- END EXTERENAL LIBRARY -->
    
        <!-- CSS files -->
        <link href="asset/dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/demo.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/Css/main.css" rel="stylesheet"/>
       
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body >
    <script src="asset/dist/js/demo-theme.min.js?1684106062"></script>
   


    
    <div class="page ">
      <div class="container">
      <!-- Navbar -->

      <nav class="navbar navbar-expand mt-2 pe-5 rounded-5 " style="background: none;">
        <span><img src="asset/image/menu1.svg" class="mt-3" width="20" alt=""></span>
        <a class="navbar-brand pe-3 text-white" href="#">لوحة التحكم</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
               
          <form class="form-inline  my-lg-0">
            <div class="d-flex justify-content-end bg-white rounded-3">
            <span class=" pt- pe-2 ps-1 my-1" style="border-left: 1px solid rgb(219, 207, 207);  ">
				<i class="fa fa-search border-right"></i> </span>
            <input class="form-control mr-sm-2 border-0" type="search" placeholder="البحث.." aria-label="Search">
          </div>
          </form>
       
        </div>
      </nav>
    
    
          
        </div>
      <!--Start SECTION Add Level -->
      <div class="date rounded mt-1 mx-4 pe-5 py-2  " dir="rtl">
      
        <div class="row  d-flex justify-content-start">
              
            <div class="col-3 ">    
                  <a href="#" class="nav-link px-0" style="width: 60%;" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                  

                    <!-- Button trigger modal -->
                                <button type="button" class="btn border-0 mt-2" style="background:#f8fffb;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                  أضافة مستوى
                                <span class="pe-2">  
                                    <svg width="20" height="20" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0302 0.833344C25.8468 0.833344 28.5952 3.55334 28.5952 8.38418V21.6158C28.5952 26.4183 25.861 29.1667 21.0443 29.1667H7.81267C2.98184 29.1667 0.261841 26.4183 0.261841 21.6158V8.38418C0.261841 3.55334 2.98184 0.833344 7.81267 0.833344H21.0302ZM14.4143 8.63918C13.7627 8.63918 13.2385 9.16334 13.2385 9.81501V13.81H9.22934C8.91768 13.81 8.62018 13.9375 8.39351 14.15C8.18101 14.3767 8.05351 14.6728 8.05351 14.9858C8.05351 15.6375 8.57767 16.1617 9.22934 16.1758H13.2385V20.185C13.2385 20.8367 13.7627 21.3608 14.4143 21.3608C15.066 21.3608 15.5902 20.8367 15.5902 20.185V16.1758H19.6135C20.2652 16.1617 20.7893 15.6375 20.7893 14.9858C20.7893 14.3342 20.2652 13.81 19.6135 13.81H15.5902V9.81501C15.5902 9.16334 15.066 8.63918 14.4143 8.63918Z" fill="#0052CC"/>
                                    </svg>  
                                </span>
                                </button>
                      <!-- Modal -->
                                <div class="modal  fade ms-5 ps-5 " style="width: 40%; " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered "    >
                                    <div class="modal-content rounded-3 " style="box-shadow: 1px 1px 6px 2px rgba(0,82,204,1);                                    ; ">
                                      <div class="modal-header " >
                                        <span class="d-flex align-items-center  me-5">
                                         <h2 class="fw-bolder" style="color: black;">قم بأضافة البيانات</h2>
                                        </span>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body fw-bolder">
                                        <div class="form-group d-flex mb-2">
                                          <label for="exampleInputEmail1" class="fw-bolder my-1 ">المستوى</label>
                                          <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                          
                                        </div>
                                        <div class="form-group d-flex mb-2">
                                            <label for="exampleInputEmail1" class="fw-bolder my-1 ">المرحلة   </label>
                                            <input type="username" class="form-control me-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                            
                                          </div>
                              
                                        <div class="d-flex">
                                          <div>
                                            
                                            <label class="label" for="formFile" class="form-label">الصورة
                                              <img src="asset/image/add photo.png" width="24" alt="" srcset="">
                                            </label>
                                            <input class="form-control" type="file" id="formFile" accept="image/*">
                                          
                                          </div>
                                          <!--   <div class="">
                                              <input type="file" id="file" accept="image/*">
                                              <label class="label" for="file">الصورة
                                                <img src="asset/image/add photo.png" width="24" alt="" srcset="">
                                              </label>
                                            </div> --> 
                                            <div>
                                            
                                              <label class="label" for="formFile" class="form-label">الصوت
                                                <img src="asset/image/music square add.png" width="24" alt="" srcset="">
                                              </label>
                                              <input class="form-control" type="file" id="formFile" accept="image/*">
                                            
                                            </div>
                                            

                                      </div>
                                      <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary px-5">أضافة</button>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                     

                 </a>
            </div> 
        </div>
      </div>
      </div>
      <!-- End SECTION Add Level -->



      <!-- start Levels -->
       <div class="levels  mt-2 mx-4">
        <div class="container rounded-3 ">
          <div class="row">
            <div class="nav-item ">
                <div class="leve-header">
                    <div>
                        <h1 class="fw-bold mt-2">المستوى الأول</h1>
                    </div>
                    <table class="table mt-2" >
                        <thead>
                        <tr >
                            <th style="color: #a3b0c3;" class="fs-6 " scope="col" ></th>
                            <th style="color: #a3b0c3;" class="fs-6 " scope="col"></th>
                            <th style="color: #a3b0c3;" class="fs-6 " scope="col"></th>
                            <th style="color: #a3b0c3;" class="fs-6 " scope="col"></th>
                            <th style="color: #a3b0c3;" class="fs-6 " scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"> 
                            <div class="nav-item ">
                                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    <span class="avatar avatar-sm rounded" style="background-image: url(asset/static/avatars/000m.jpg) ; width: 40px; height: 40px;"></span>
                                    <div class="d-none d-xl-block ">
                                    
                                    <div class="mt-1 small pe-1">المرحلة الاولى</div>
                                    
                                    </div>
                                </a>
                            
                            </th>
                            <td>  
                                <div class="d-none d-xl-block pe-2">
                                <div class="mt-1 small  text-muted fw-bold">11/04/2023</div>
                                
                            </td>
                            
                            <td class="text-muted fw-bold">Edit</td>
                        </tr>
                        <tr>
                            <th scope="row"> 
                            <div class="nav-item ">
                                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    <span class="avatar avatar-sm rounded" style="background-image: url(asset/static/avatars/000m.jpg) ; width: 40px; height: 40px;"></span>
                                    <div class="d-none d-xl-block ">
                                    
                                    <div class="mt-1 small pe-1">المرحلة الاولى</div>
                                    
                                    </div>
                                </a>
                            
                            </th>
                            <td>  
                                <div class="d-none d-xl-block pe-2">
                                <div class="mt-1 small  text-muted fw-bold">11/04/2023</div>
                                
                            </td>
                            
                            <td class="text-muted fw-bold">Edit</td>
                        </tr>
                        <tr>
                            <th scope="row"> 
                            <div class="nav-item ">
                                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    <span class="avatar avatar-sm rounded" style="background-image: url(asset/static/avatars/000m.jpg) ; width: 40px; height: 40px;"></span>
                                    <div class="d-none d-xl-block ">
                                    
                                    <div class="mt-1 small pe-1">المرحلة الاولى</div>
                                    
                                    </div>
                                </a>
                            
                            </th>
                            <td>  
                                <div class="d-none d-xl-block pe-2">
                                <div class="mt-1 small  text-muted fw-bold">11/04/2023</div>
                                
                            </td>
                            
                            <td class="text-muted fw-bold">Edit</td>
                        </tr>            
                        </tbody>
                    </table>
                </div> 
            </div>
          </div>
        </div>
       </div>
      <!-- end Levels -->

    </div>
    </div>


    <!-- Sidebar -->
        <aside class=" navbar-vertical navbar-right navbar-expand">
          <div class="container-fluid">
            <h1 class="d-flex justify-content-center p-3">
              <a href=".">
                <img src="asset/image/figm1.png"  alt="Tabler" class="img-fluid" width="90">
              </a>
            </h1>
            
            <div class="collapse navbar-collapse" id="sidebar-menu">
              <ul class="navbar-nav pt-lg-3">
                <li class="nav-item py-3 ">
                  
                  <a class="nav-link rounded-3 me-1 px-5 active py-3" href="index.html" " >
                    <span class="nav-link-icon ps-1 d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                      <!--  <svg  class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg> -->
                      <img src="asset/image/home.png" >
                     </span>
                    
                    <span class="nav-link-title">
                      
                      الرئيسية
                       
                    </span>
                  </a>
                </li>
                <li class="nav-item py-3">
                  <a class="nav-link rounded-3 py-3" href="user.html" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                      <img src="asset/image/user.png" alt="">
                    </span>
                    <span class="nav-link-title pe-2">
                    المستخدمون 
                    </span>
                  </a>
                </li>
                <li class="nav-item py-3">
                  <a class="nav-link rounded-3 py-3" href="level.html" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                      <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.57812 24.2194H4.01562C3.70482 24.2194 3.40675 24.0959 3.18698 23.8761C2.96722 23.6564 2.84375 23.3583 2.84375 23.0475V16.0162C2.84375 15.7054 2.96722 15.4074 3.18698 15.1876C3.40675 14.9678 3.70482 14.8444 4.01562 14.8444H5.57812C5.88892 14.8444 6.187 14.9678 6.40676 15.1876C6.62653 15.4074 6.75 15.7054 6.75 16.0162V23.0475C6.75 23.3583 6.62653 23.6564 6.40676 23.8761C6.187 24.0959 5.88892 24.2194 5.57812 24.2194Z" fill="#2684FF"/>
                        <path d="M16.5156 24.218H14.9531C14.6423 24.218 14.3443 24.0945 14.1245 23.8748C13.9047 23.655 13.7812 23.3569 13.7812 23.0461V11.3274C13.7812 11.0166 13.9047 10.7185 14.1245 10.4988C14.3443 10.279 14.6423 10.1555 14.9531 10.1555H16.5156C16.8264 10.1555 17.1245 10.279 17.3443 10.4988C17.564 10.7185 17.6875 11.0166 17.6875 11.3274V23.0461C17.6875 23.3569 17.564 23.655 17.3443 23.8748C17.1245 24.0945 16.8264 24.218 16.5156 24.218Z" fill="#2684FF"/>
                        <path d="M21.9844 24.2186H20.4219C20.1111 24.2186 19.813 24.0952 19.5932 23.8754C19.3735 23.6556 19.25 23.3575 19.25 23.0467V5.85925C19.25 5.54845 19.3735 5.25038 19.5932 5.03061C19.813 4.81084 20.1111 4.68738 20.4219 4.68738H21.9844C22.2952 4.68738 22.5932 4.81084 22.813 5.03061C23.0328 5.25038 23.1562 5.54845 23.1562 5.85925V23.0467C23.1562 23.3575 23.0328 23.6556 22.813 23.8754C22.5932 24.0952 22.2952 24.2186 21.9844 24.2186Z" fill="#2684FF"/>
                        <path d="M11.0469 24.2183H9.48437C9.17357 24.2183 8.8755 24.0949 8.65573 23.8751C8.43596 23.6553 8.3125 23.3572 8.3125 23.0464V1.9527C8.3125 1.6419 8.43596 1.34383 8.65573 1.12406C8.8755 0.904288 9.17357 0.780823 9.48437 0.780823H11.0469C11.3577 0.780823 11.6557 0.904288 11.8755 1.12406C12.0953 1.34383 12.2187 1.6419 12.2187 1.9527V23.0464C12.2187 23.3572 12.0953 23.6553 11.8755 23.8751C11.6557 24.0949 11.3577 24.2183 11.0469 24.2183Z" fill="#2684FF"/>
                        </svg>                     </span>
                    <span class="nav-link-title pe-2 ">
                      المستويات
                    </span>
                  </a>
                </li>
                <li class="nav-item py-3">
                  <a class="nav-link rounded-3 py-3" href="challanges.html" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                      <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M1.56152 15.3424C2.71918 20.1165 6.80129 23.6441 11.6594 23.6441C17.4179 23.6441 22.086 18.688 22.086 12.5743C22.086 6.92952 18.1064 2.27153 12.9633 1.59033V15.3424H1.56152Z" fill="#2684FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3566 9.80619H0.010498C0.65204 4.34582 5.03943 0.120605 10.3563 0.120605H10.3566V9.80619Z" fill="#2684FF"/>
                        </svg>                     </span>
                    <span class="nav-link-title pe-2">
                    التحديات 
                    </span>
                  </a>
                </li>
                <li class="nav-item py-3 dropdown">
                  <a class="nav-link rounded-3 py-3 dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                      <img src="asset/image/setting.png" alt="">
                    </span>
                    <span class="nav-link-title pe-1">
                      الاعدادات
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-menu-columns">
                      <div class="dropdown-menu-column">
                        <a class="dropdown-item" href="./empty.html">
                          Empty page
                        </a>
                        <a class="dropdown-item" href="./activity.html">
                          Activity
                        </a>
                        <a class="dropdown-item" href="./gallery.html">
                          Gallery
                        </a>
                        <a class="dropdown-item" href="./search-results.html">
                          Search results
                        </a>
                        <a class="dropdown-item" href="./faq.html">
                          FAQ
                          <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
                        </a>
                        <a class="dropdown-item" href="./users.html">
                          Users
                        </a>
                      </div>
                      <div class="dropdown-menu-column">
                        <a class="dropdown-item" href="./logs.html">
                          Logs
                          <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
                        </a>
                        <a class="dropdown-item" href="./settings.html">
                          Settings
                          <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </aside>
       </div>
      <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New report</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Your report name">
              </div>
              <label class="form-label">Report type</label>
              <div class="form-selectgroup-boxes row mb-3">
                <div class="col-lg-6">
                  <label class="form-selectgroup-item">
                    <input type="radio" name="report-type" value="1" class="form-selectgroup-input" checked>
                    <span class="form-selectgroup-label d-flex align-items-center p-3">
                      <span class="me-3">
                        <span class="form-selectgroup-check"></span>
                      </span>
                      <span class="form-selectgroup-label-content">
                        <span class="form-selectgroup-title strong mb-1">Simple</span>
                        <span class="d-block text-muted">Provide only basic data needed for the report</span>
                      </span>
                    </span>
                  </label>
                </div>
                <div class="col-lg-6">
                  <label class="form-selectgroup-item">
                    <input type="radio" name="report-type" value="1" class="form-selectgroup-input">
                    <span class="form-selectgroup-label d-flex align-items-center p-3">
                      <span class="me-3">
                        <span class="form-selectgroup-check"></span>
                      </span>
                      <span class="form-selectgroup-label-content">
                        <span class="form-selectgroup-title strong mb-1">Advanced</span>
                        <span class="d-block text-muted">Insert charts and additional advanced analyses to be inserted in the report</span>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  <div class="mb-3">
                    <label class="form-label">Report url</label>
                    <div class="input-group input-group-flat">
                      <span class="input-group-text">
                        https://tabler.io/reports/
                      </span>
                      <input type="text" class="form-control ps-0"  value="report-01" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label class="form-label">Visibility</label>
                    <select class="form-select">
                      <option value="1" selected>Private</option>
                      <option value="2">Public</option>
                      <option value="3">Hidden</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Client name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Reporting period</label>
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label class="form-label">Additional information</label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                Cancel
              </a>
              <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                Create new report
              </a>
            </div>
          </div>
        </div>
      </div>
    <!-- Libs JS -->   
    <script src="asset/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
    <script src="asset/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
    <script src="asset/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
    <script src="asset/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
    <!-- Tabler Core -->
    <script src="asset/dist/js/tabler.min.js?1684106062" defer></script>
    <script src="asset/dist/js/demo.min.js?1684106062" defer></script>
	<script src="asset/js/main.js"></script>   
    <script src="asset/js/all.min.js"></script>   
    <script src="asset/js/bootstrap.bundle.min.js"></script>  
 
  </body>
</html>